#eredmeny{
    display: flex;
    align-items: center;
    justify-content:center;
    font-size:xx-large;
    
}
#kijelzo{
    border-bottom: solid black 2px;
    border-top: solid black 2px;
}

.tgomb{
    width: 60px;
    height: 60px;
    background-color: rgb(169, 196, 245);
}
#GIVEUP{
    height: 40px;
    width: 180px;
    background-color: rgb(169, 196, 245);

}
.col-sm-4{
    padding-top: 20px;
    padding-bottom: 20px;
}
#a,#aa{
    
    display: flex;
    align-items: center;
    justify-content:center;
    padding-bottom: 2px;
}
#aa{
    padding-top: 15px;
}
